.app {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(9px + 1vmin);
  color: white;
}

a {
  color: white;
}

.page {
  margin: auto auto;
  min-width: 800px;
  max-width: 1200px;
  padding: 30px 30px;
}

.link {
  text-decoration: none;
  color: inherit;
}

.page-video {
  margin: 0 auto;
  padding: 32px;
  max-width: none;
  width: 100%;
  height: 100%;
}

.video-component .title {
  display: block;
  
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #ddd;
}

.video-item {
  height: 80px;
}

.video-item .title {
  white-space: normal;
  font-size: 0.8rem;
}

.video-component .description {
  overflow: hidden;
  max-height: 76px;
  color: #aaa;
}

.video-component .cover, .video-card .cover {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 100ms ease-in-out;
}

.video-component .cover .center, .video-card .cover .center {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 8px 16px;
  border-radius: 8px;
  transform: translateY(-50%) translateX(-50%);
  background-color: rgba(0, 0, 0, 0.75);
}

.video-component .content {
  background-color: #1e1e1e;
  transition: background 100ms ease-in-out;
}

.video-component, .video-card {
  cursor: pointer;
}

.video-component:hover .content, .video-component.active .content {
  background-color: #2e2e2e;
}

.video-component:hover .cover, .video-card:hover .cover {
  opacity: 1;
}

.video-component:hover .title {
  color: #fff;
}

.video-item .cardContent, .video-item .cardContent:last-child {
  padding: 6px;
}

.video-component .number p, .video-component .number svg {
  position: absolute;
  font-size: 0.9rem;
  top: 50%;
  left: 4px;
  margin: -12px 0 0 0;
  color: #aaa;
}

.video-component .number svg {
  font-size: 1.2rem;
  left: -1px;
  margin-top: -10px;
}

.videoPlayerProgress .MuiLinearProgress-bar, .fileUploadProgress .MuiLinearProgress-bar {
  transition: none;
}

.video-drag-target {
  position: relative;
}

.video-drag-target.drag-active-up:before {
  content: '';
  display: block;
  border-left: silver dashed 5px;
  height: 100%;
  left: -10px;
  top: 0;
  position: absolute;
}

.video-drag-target.drag-active-down:after {
  content: '';
  display: block;
  border-left: silver dashed 5px;
  height: 100%;
  right: -10px;
  top: 0;
  position: absolute;
}
